<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Thresholds Forms</title>
    <link rel="stylesheet" href="/stylesheets/styling.css" />
  </head>

  <body>
    <div class="form">
      <div id="pageTitle">
        <img src="./images/thr-transparent.png" alt="Thresholds Logo" />
      </div>

      <h1>Please Select a Form</h1>

      <!-- <a href="/accInc">Accident/Incident</a> -->
      <button class="button-19" onclick="window.location.href='/accInc'">
        Accident/Incident
      </button>
      <button class="button-19" onclick="window.location.href='/eDrill'">
        Emergency Drill
      </button>
      <button class="button-19" onclick="window.location.href='/safeIns'">
        Safety Inspection
      </button>
      <button class="button-19" onclick="window.location.href='/ur'">
        Utilization Review
      </button>
      <!-- <a href="/eDrill">Emergency Drill</a>
        <a href="/safeIns">Safety Inspection</a>
        <a href="/ur">Utilization Review</a> -->

      <div id="pageFoot">
        <a href="https://thresholds.jotform.com" target="_blank"
          ><strong>View Your Submissions Here</strong></a
        >
        <img id="jf-logo" src="./images/jf-logo.png" alt="Jotform Logo" />
      </div>
    </div>
  </body>
</html>
